node_modules
.fx/configs/localSettings.json
.fx/states/*.userdata
.DS_Store
.env.teamsfx.local
subscriptionInfo.json
build
.env.teamsfx2.local

.fx/configs/config.local.json
.fx/states/state.local.json
.backup